
.titre { /* Définition des propriétés du Titre Principale */
    text-shadow: #cce4f4 0px 0px 10px, #cce4f4 0 0 60px;
    margin: 20px;
    color: white;
    text-transform: uppercase;
    font-family: museo_sans, "Lucida Grande", "Lucida Sans", "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 5em;
    text-align: center;
}

@media screen and (max-width: 400px) { /* Réduction de la taille du Titre Principale pour mobile */
    .titre {
        margin: 50px;
        font-size: 3em;
    }
  }

#sous-titre { /* Définition des propriétés du sous-titre */
    text-shadow: #cce4f4 0px 0px 10px;
    font-size: 2.5em;
    font-style: italic;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

@media screen and (max-width: 400px) { /* Réduction de la taille du sous-titre pour mobile*/
    #sous-titre {
        font-size: 1,5em;
    }
  }


body { /* Définition du fond d'écran général du site */
    background-image: url("https://w.forfun.com/fetch/c1/c106475dca9b6ebc5771abce1fc95782.jpeg") ;
    background-size:absolute;
    opacity: 1;
}

#sandbox-text { /* Définition du mot "Explications" mis en rotation */
    -moz-transform: rotate(-9deg);
    -ms-transform: rotate(-9deg);
    -webkit-transform: rotate(-9deg);
    transform: rotate(-9deg);
    writing-mode: lr-tb;
    font-size: 40px;
    font-family: pastel_crayon, Palatino, Georgia, serif;
    font-weight: normal;
    position: absolute;
    text-shadow: none;
    color : white;
    top: 150px;
}

@media screen and (max-width: 400px) { /* Suprime le mot "Explications" pour une meilleure clareté */
    #sandbox-text {
        opacity: 0;
    }
}
#explaination{ /* Définition des propriétés des explications */
    text-shadow: #cce4f4 0px 0px 10px;
    font-size: 1.4em;
    color: white;
    border : white 2px solid;
    padding: 10px;
    margin: 20px;
    background-color: black;
    inline-size: 500px;
    writing-mode: horizontal-tb; 
}

@media screen and (max-width: 400px) { /* Réduction de la taille pour les mobiles*/
    #explaination {
        margin-top:150px;
        font-size: 1em;
        inline-size: auto;

    }
}

#arrow{ /* Définition de la flèche en dessous du mot explications */
    width: 100px;
    height: 100px;
    position: absolute;
    top: 168px;
    left: 100px;
    transform: rotate(33deg);

}

@media screen and (max-width: 400px) { /* Supprime la flèche pour une meilleure clareté */
    #arrow {
        opacity: 0;
    }
}

#nombre { /* Définition des propriétés du form remplissable */
    border: solid white 3px;
    border-radius: 3px;
    background-color: black;
    color: white;
    display: inline;
    height: 30px;
    margin-top: 20px;
    margin-bottom:10px;

}

.grid{ /* Définition d'une grid pour contenir également les 3 éléments le composant*/
    display: grid;
    grid-template-columns:1fr 1fr 1fr  ;
    /*border: white 3px solid;*/
}

@media screen and (max-width: 400px) { /* Supprime le grid car ça ne rend pas bien sur un téléphone */
    .grid {
        display:block;
    }
}

#arrow_mid{ /* Définition des propriétés de la flèche du millieu */
    width: 200px;
    height: 200px;
    margin-left:20%;
    margin-top:-10%;
    text-align: center;
}

@media screen and (max-width: 400px) { /* Rotation de la flèche vers le bas pour être en adéquation avec la disposition en mobile */
    #arrow_mid {
        display:block;
        transform: rotate(90deg);
        margin-top:-5%;
    }
}

@media screen and (max-width: 400px) { /* Form mis au millieu de la page pour les mobiles */
    form {
        text-align: center;
    }
}

.choix{ 
    color: white;
    margin-bottom: 10px;
}

label{ 
    color: white;
    font-weight:bold;
}

#cible{ /* Définition des propriétés de la réponse de l'API */
    color:white;
    text-shadow: #cce4f4 0px 0px 10px;
    font-size: 2.3em;
    text-align:center;
    border: solid white 3px;
    background-color:black;
    margin-top: 50px;
    overflow: scroll;
    height:200px;
    overflow-x: hidden;
}

