.titre {
    text-shadow: #cce4f4 0px 0px 10px, #cce4f4 0 0 60px;
    margin: 20px;
    color: white;
    text-transform: uppercase;
    font-family: museo_sans, "Lucida Grande", "Lucida Sans", "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 5em;
    text-align: center;
}

#sous-titre {
    text-shadow: #cce4f4 0px 0px 10px;
    font-size: 2.5em;
    font-style: italic;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

body {
    background-image: url("https://w.forfun.com/fetch/c1/c106475dca9b6ebc5771abce1fc95782.jpeg") ;
    background-size:absolute;
    opacity: 1;
}

#sandbox-text {
    -moz-transform: rotate(-9deg);
    -ms-transform: rotate(-9deg);
    -webkit-transform: rotate(-9deg);
    transform: rotate(-9deg);
    writing-mode: lr-tb;
    font-size: 40px;
    font-family: pastel_crayon, Palatino, Georgia, serif;
    font-weight: normal;
    position: absolute;
    text-shadow: none;
    color : white;
    top: 150px;
}

#explaination{
    text-shadow: #cce4f4 0px 0px 10px;
    font-size: 1.4em;
    color: white;
    border : white 2px solid;
    padding: 10px;
    margin: 20px;
    background-color: black;
    inline-size: 500px;
    writing-mode: horizontal-tb; 
}

#arrow{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 168px;
    left: 100px;
    transform: rotate(33deg);

}

#nombre {
    border: solid white 3px;
    border-radius: 3px;
    background-color: black;
    color: white;
    display: inline;
    height: 30px;
    margin-top: 20px;
    margin-bottom:10px;

}

.grid{
    display: grid;
    grid-template-columns:1fr 1fr 1fr  ;
    /*border: white 3px solid;*/
}

#arrow_mid{
    width: 200px;
    height: 200px;
    margin-left:20%;
    margin-top:-10%;
    text-align: center;
}

.choix{
    color: white;
    margin-bottom: 10px;
}

label{
    color: white;
    font-weight:bold;
}

#cible{
    color:white;
    text-shadow: #cce4f4 0px 0px 10px;
    font-size: 2.3em;
    text-align:center;
    border: solid white 3px;
    background-color:black;
    margin-top: 50px;
    overflow: scroll;
    height:200px;
    overflow-x: hidden;
}

